<div class="page-title">
  <h4>
    <a routerLink="/categories">Категории</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{ editMode ? 'Редактировать категорию' : 'Добавить категорию' }}
  </h4>
  <span *ngIf="editMode">
    <button class="btn btn-small red" (click) = "removeCategory()">
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>

<div class="row">
  <form
    class="col s12 l6"
    [formGroup] = "form"
    (ngSubmit) = "onSubmit()"
  >
    <div class="input-field">
      <input
        id="name"
        type="text"
        formControlName="name"
        [ngClass] = "{
          invalid: form.get('name').touched && form.get('name').invalid
        }"
      />
      <label for="name">Название</label>
      <span
        class="helper-text red-text"
        *ngIf = "form.get('name').touched && form.get('name').invalid"
      >
        <span *ngIf = "form.get('name').hasError('required')">Обязательное поле</span>
      </span>
    </div>

    <div>
      <input
        type="file"
        hidden
        #inputFile
        (change) = "onFileChange($event)"
      >
      <button
        class="waves-effect waves-light btn orange lighten-2 mb2"
        type="button"
        [disabled] = "form.disabled"
        (click) = "triggerInputFileClick()"
      >
        <i class="material-icons left">backup</i>
        Загрузить изображение
      </button>
    </div>

    <div>
      <button
        class="waves-effect waves-light btn"
        type="submit"
        [disabled] = "form.invalid || form.disabled"
      >
        Сохранить изменения
      </button>
    </div>
  </form>

  <div class="col s12 l4 center">
    <img class="responsive-img" style="height: 200px;" [src] = "imgPreview" />
  </div>
</div>

<app-positions-crud
  *ngIf = "categoryId"
  [categoryId] = "categoryId"
></app-positions-crud>
