  <div class="row">
    <div class="col s12">
      <div class="page-subtitle">
        <h4>Позиции:</h4>
        <button
          class="waves-effect waves-light btn grey darken-1 btn-small"
          (click) = "addPositionModal()"
        >
          Добавить позицию
        </button>
      </div>

      <ng-container *ngIf = "!isLoading; else loader">
        <div class="collection" *ngIf = "positions.length; else empty">
          <a
            class="collection-item collection-item-icon"
            *ngFor = "let position of positions"
            (click) = "editPositionModal(position)"
          >
            <span> {{ position.name }} <strong>{{ position.cost }}</strong> </span>
            <span>
          <i class="material-icons" (click) = "removePosition($event, position._id)">delete</i>
        </span>
          </a>
        </div>
      </ng-container>
    </div>
  </div>

<ng-template #empty>
  <p class="center">Список позиций пуст</p>
</ng-template>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

  <form
    class="modal"
    #modal
    [formGroup] = "form"
    (ngSubmit) = "onSubmit()"
  >
    <div class="modal-content">
      <h4 class="mb1">{{ editMode ? 'Редактировать позицию' : 'Добавить позицию' }}</h4>
      <div class="input-field">
        <input
          id="pos-name"
          type="text"
          formControlName="name"
          [ngClass] = "{
          invalid: form.get('name').touched && form.get('name').invalid
        }"
        >
        <label for="pos-name">Название</label>
        <span
          class="helper-text red-text"
          *ngIf = "form.get('name').touched && form.get('name').invalid"
        >
        <span *ngIf = "form.get('name').hasError('required')">Обязательное поле</span>
      </span>
      </div>
      <div class="input-field">
        <input
          id="pos-cost"
          type="number"
          formControlName="cost"
          [ngClass] = "{
          invalid: form.get('cost').touched && form.get('cost').invalid
        }"
        >
        <label for="pos-cost">Цена</label>
        <span
          class="helper-text red-text"
          *ngIf = "form.get('cost').touched && form.get('cost').invalid"
        >
        <span *ngIf = "form.get('cost').hasError('required')">Обязательное поле</span>
        <span *ngIf = "form.get('cost').hasError('min')">Минимальное значение - 1</span>
      </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="modal-action waves-effect waves-black btn-flat"
        (click) = "closeModal()"
      >
        Отмена
      </button>
      <button
        type="submit"
        class="modal-action btn waves-effect"
        [disabled] = "form.disabled || form.invalid"
      >
        Сохранить
      </button>
    </div>
  </form>
