<form
  class="card"
  (ngSubmit) = "onSubmit()"
  [formGroup] = "form"
>
  <div class="card-content">
    <span class="card-title">Регистрация</span>

    <div class="input-field">
      <input
        id="email"
        type="email"
        formControlName="email"
        [ngClass] = "{
          invalid: form.get('email').touched && form.get('email').invalid
        }"
      >
      <label for="email">Email:</label>
      <span
        class="helper-text red-text"
        *ngIf = "form.get('email').touched && form.get('email').invalid"
      >
        <span *ngIf = "form.get('email').hasError('required')">Обязательное поле</span>
        <span *ngIf = "form.get('email').hasError('email')">Введите валидный email</span>
      </span>
    </div>

    <div class="input-field">
      <input
        id="password"
        type="password"
        formControlName="password"
        [ngClass] = "{
          invalid: form.get('password').touched && form.get('password').invalid
        }"
      >
      <label for="password">Пароль:</label>
      <span
        class="helper-text red-text"
        *ngIf = "form.get('password').touched && form.get('password').invalid"
      >
        <span *ngIf = "form.get('password').hasError('required')">Обязательное поле</span>
        <span *ngIf = "form.get('password').hasError('minlength')">
          Пароль должен состоять минимум из {{ form.get('password').errors.minlength.requiredLength }} символов.
          Введено {{ form.get('password').errors.minlength.actualLength }}
        </span>
      </span>
    </div>
  </div>

  <div class="card-action">
    <button type="submit" class="modal-action btn waves-effect" [disabled] = "form.invalid || isSubmitting">Создать</button>
  </div>
</form>

